body {
	margin: 0;
	font-family: 'Nunito', sans-serif;


}
section, header, footer{
   /* border: 1px solid red;*/

}

header {
	width: 1152px;
	margin: auto ;
    display: grid;
    grid-template-columns: 307px auto;
    position: relative;
    font-size: 16;
    font-weight: bold;

}
.image {
	margin-top: 23px;
	margin-left: 80px;
}
.header-navigation {
	margin-top: 20px;
	margin-right: 28px;
	
}

.pink-rectangle {
	position: absolute;
	background: rgba(249, 189, 189, 1);
	width: 370px;
	height: 800px;
	border-bottom-left-radius: 120px;
	right: 0;
	top: 0;
	z-index: -1;
}


.header-list {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(5, 1fr) auto;
}
.header-list-description {
	text-align: center;
}

.header-list-link{
	text-decoration: none;
	color: black;

}
								
.button {
	color: rgba(62, 63, 67, 1);
	background-color: rgba(249, 189, 189, 1);
	border: 1px solid;
	border-radius: 8px;
	padding: 9px 31px;
}

.home {
	width: 1152px;
	margin: 0 auto;
    display: grid;
    position: relative;
}
								
.home {
	display: grid;
	grid-template-columns: repeat(2,1fr);
	position: relative;
}

.home-description{
	width: 504px;
	height: 376px;
	display: grid;
	grid-template-rows: repeat(3,1fr); 
	text-align:left;
	margin-top: 157px;
	margin-bottom: 206px;
	margin-left: 107px;
}

.home-info {
	font-size: 36px;
	margin: 0px;
	width: 472px;
}

.home-info-header {
	font-style: bold;
	font-weight: 600px;
	font-size: 72px;
	margin: 0px;
	width: 383px;
}

.home-button{
	padding: 0px 24px;
	border: 0px;
	border-radius: 8px;
	
	text-align:center;
	width: 175px;
	height: 50px;
	background: #DAA520;

}

.home-button-txt{
	font-style: bold;
	color: white;
	font-size: 16px;
}

.home img{
	right: 24px;
	top: 86px;
	position: relative;

}

.home-bg-flower{
	position: absolute;
	top:320px;
	right: 220px;
	z-index: -1;

}
	